<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Games</title>
</head>
<body>
    {{!-- Navbar --}}
    <nav>
        <p>Logo</p>
        <a>Login</a>
    </nav>
    {{!-- Content --}}
    <div>
        <div>
            <img>
            <p>Name</p>
            <p>Type</p>
            <a>Detail</a>
        </div>
    </div>
    
</body>
</html>