<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Games</title>
</head>
<body>
    {{!-- navbar --}}
    <nav>
        <p>logo</p>
        <a>login</a>
    </nav>
    {{!-- content --}}
    <div>
        <div>
            <img>
            <p>{{name}}</p>
            <p>Type</p>
            <a>Detail</a>
        </div>
    </div>
</body>
</html>